body {
    color: #52499E;
    background-color: #F8F8FB;
}

li {
    list-style: none;
    display: inline-block;
}

.heading a {
    text-decoration: none;
    color: inherit;
}
.heading a:hover{
	color: #90CD9B;
}

.hint-panel {
    padding: 20px;
}

.hint-panel li {
    padding: 10px;
}

.button-run {
    background-color: #EF5898;
    font-size: 1.5em;
    font-weight: bold;
    border: .05rem solid #fff;
}
.btn-secondary:hover{
  background-color: #90CD9B;
}

.progress-container {
    border: 2px #EF5898 solid;
}

.progress-container li {
    margin-top: 1rem;
    padding: 0 10px 0 10px;
}

.progress-container a:hover {
    text-decoration: none;
    color: #EF5898;
    font-weight: bold;
}

.working-space {
    /*border: 10px #52499E solid;*/
    margin-top: 50px;
    margin-bottom: 50px
}

#preview {
	background-color: #fff;
    border: 5px #90CD9B solid;
    height: 50vh;
    /*padding: 10px;*/
    width: 500px;
    height: 340px;
position: relative;
}
 canvas { position: absolute;}
 #canvas{z-index: 1;}
 #canvas2{z-index: 2;}
 #canvas3{z-index: 3;}

.flagPart {
    height: 50px;
    width: 250px;
    background-color: #fff;
    border: 3px solid #52499e;
    position: relative;
}

.button-panel {
	margin-top: 20px; 
	text-align: center;
}
#blocklyDiv {
	height: 70vh;
    min-width: 400px;
	border: solid #E1D82C 5px;
}

#test1{
    visibility: hidden;
  background-image:url(../test_img/swim_sprite.png);
  height:40px;
  width:40px;
  background-position:0 0 ; 
  background-size:200% 100%; 
animation : swim 1s infinite  steps(2, end);
/*   float:left; */
transform: translate(0px,150px);
}

@keyframes swim {
  100% { background-position: 200% 0}
}

#lituanica_plane{
  /*visibility: hidden;*/
  background-image:url(../test_img/litu.png);
  height:50px;
  width:50px;
  transform: translate(50px,100px);
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .working-space {
        height: 80vh;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}