@import url('https://fonts.googleapis.com/css?family=Inconsolata');


a,
a:focus,
a:hover {
    color: #fff;
}




/* Custom default button */

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #fff;
    text-shadow: none;
    /* Prevent inheritance from `body` */
    background-color: #fff;
    background-color: #604a9c;
    /*border: .05rem solid #fff;*/
    border: 2px solid #604a9c;
    box-shadow: 4px 4px 0px #f95496;
}

.btn-secondary:hover {
    background-color: #fff;
    color: #604a9c;
    border: 2px solid;
}




/*shadow- f95496*/


/*
 * Base structure
 */

html,
body {
    height: 100%;
    /*background-color: #333;*/
    /*background-color: #F8F8FB;*/
    background-color: #543f8a;
}

body {
    /*color: #fff;*/
    /*color: #52499E;*/
    font-family: 'Inconsolata', monospace;
    color: #F8F8FB;
    text-align: center;
    /*text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);*/
}




/* Extra markup and styles for table-esque vertical and horizontal centering */

.site-wrapper {
    display: table;
    width: 100%;
    height: 80%;
    /* For at least Firefox */
    min-height: 80%;

}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
}




/* Padding for spacing */

.inner {
    padding: 2rem;
}

.partners {
    margin: auto;
    text-align: left;
}


.headings {
    padding: 0px 0px 10px 0px;
}

.line {
    border-top: 2px solid;
    padding: 40px 0px 0px 0px;
    padding: 20px 0px 20px 0px;
    margin-right: 19px;
}

.in-table .item {
    padding: 0px 16px 16px 0px;
    justify-content: space-around;
}



/*
 * Header
 */

.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: bold;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    /*border-bottom-color: rgba(255,255,255,.25);*/
    border-bottom-color: #90CD9B;
}

.nav-masthead .nav-link+.nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }
    .nav-masthead {
        float: right;
    }
}





/*
 * Cover
 */

.btn {
    border-radius: 0;
}

.cover {
    padding: 0 1.5rem;
}

.cover .btn-lg {
    padding: .75rem 4.5rem;
    /*font-weight: bold;*/
    margin: 60px 15px 18px 15px;
    font-size: 1.2em;
    letter-spacing: 0.05em;
}

.cover_logo {
    /*width:25%;
  width:25vw;*/
    width: auto;
    height: auto;
}


.video-modal a {
    text-decoration: underline;
}




/*
 * Footer
 */

.mastfoot {
    color: rgba(255, 255, 255, .5);
}





/*
 * Affix and center
 */

@media (min-width: 40em) {
    /* Pull out the header and footer */
    .masthead {
        position: fixed;
        top: 0;
    }
    .mastfoot {
        position: fixed;
        bottom: 0;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%;
        /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 62em) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 42rem;
    }
}